/* Step One*/

p {
	border-bottom: 1px solid red;
}

.kermit {
	border: 10px solid green;
	border-radius: 25%;
}

#main-div-1 {
	padding: 5%;
}

/* Step Two*/
/* #main-div-2 > .kermit    only goes one level deep in main div 2 with the class kermit*/
/* anything that falls in main div with the class kermit*/
#main-div-2 .kermit {
	border: 2px dotted purple;

}

/* only changes paragraph in */
#main-div-2 > p {
	background-color: orange;
}

/* targets all sibilings of h2 which are paragraphs */
h2 ~ p {
	background-color: red;
}

/* Step 3*/
#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bold;
}

#li-3 {
	text-transform: capitalize;
}

#mystery-ul li:nth-child(2n+1){
	font-family: 'Mystery Quest', cursive;
}

img {
	width: 200px;
	height: auto;
}

#flex-kermit {
	display: flex;
	flex-wrap: wrap;
}

#flex-kermit > img {
	width: 30%;
}

/* Floats suck, use flexbox*/
/* Don't use w3schools */

/* Step 4 */

input {
	background-color: white;
}
input:valid {
	background-color: green;
}

input:invalid {
	background-color: red;
}